<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProLeafic</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/png" href="static/img/ProLeafic-Logo.png">
    <script src="https://kit.fontawesome.com/1ee43ba5d7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    </link>
</head>

<body class="bg-white">
    <header class="bg-green-200 text-gray-600 body-font border-green-500 border-b-2">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                <img src="static/img/ProLeafic-Logo.png" class="w-16">
                <span class="ml-3 text-2xl">ProLeafic</span>
            </a>
            <nav
                class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400 flex flex-wrap items-center text-base justify-center ">
                <a class="mr-5 hover:text-black" href="/Disease">Disease</a>
                <a class="mr-5 hover:text-black" href="/Pest">Pest</a>
                <a class="mr-5 hover:text-black" href="/Scan">Scan</a>
                <a class="mr-5 hover:text-black" href="/Filter">Diagnostic Test</a>
            </nav>
            <a
                class="inline-flex items-center bg-green-300 border-green-500 border-2 py-1 px-3 focus:outline-none hover:bg-green-400 hover:text-black rounded text-base mt-4 md:mt-0 text-bold">Shop
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            </a>
        </div>
    </header>
    <h1 id="heading">Diseases</h1>

    <details class="details">
        <summary class="0dd">
            Powdery
        </summary>
        <div class="container1">
            <div class="img">
                <img src="download.jfif" alt="NA">
            </div>
            <div class="content">
                <h1>Sample</h1>
                <p>
                    Discover interesting projects and people to populate your personal news feed.
                    Your news feed helps you keep up with recent activity on repositories you watch or star and
                    people you
                    follow.

                </p>
            </div>
        </div>
    </details>

</body>

</html>