<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProLeafic</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/png" href="static/img/ProLeafic-Logo.png">
    <script src="https://kit.fontawesome.com/1ee43ba5d7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    </link>
</head>

<body class="bg-white">
    <header class="sticky z-10 top-0 bg-green-200 text-gray-600 body-font border-green-500 border-b-2">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                <img src="static/img/ProLeafic-Logo.png" class="w-16">
                <span class="ml-3 text-2xl">ProLeafic</span>
            </a>
            <nav
                class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400 flex flex-wrap items-center text-base justify-center ">
                <a class="mr-5 hover:text-black" href="/Disease">Disease</a>
                <a class="mr-5 hover:text-black" href="/Pest">Pest</a>
                <a class="mr-5 hover:text-black" href="/Scan">Scan</a>
                <a class="mr-5 hover:text-black" href="/Filter">Diagnostic Test</a>
            </nav>
            <a
                class="inline-flex items-center bg-green-300 border-green-500 border-2 py-1 px-3 focus:outline-none hover:bg-green-400 hover:text-black rounded text-base mt-4 md:mt-0 text-bold">Shop
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            </a>
        </div>
    </header>
    <h1 id="heading">Diseases</h1>

    <!-- 1st disease -->
    <details class="details" id="details">
        <summary class="odd">
            Powdery Mildew
        </summary>
        <div class="container1">
            <div class="img">
                <img src="download.jfif" alt="NA">
            </div>
            <div class="content">
                <h1>Powdery Mildew</h1>
                <p>
                    Most powdery mildew are very host specific, mildew on cucumbers will not infect roses. Look for
                    white, powdery growth on leaves and shoots. Warm days and cool nights are ideal for powdery mildew
                    development. Particularly susceptible: roses, gooseberries, hascaps,
                    lupines and cucumbers.</p>
                <h2>Powdery Mildew Control</h2>
                <p>
                    Plant disease resistant varieties. Avoid planting in shady areas or areas with poor air
                    circulation.
                    To be effective, a fungicides spray program must start before mildew is well established. A
                    dormant
                    spray of lime sulfur will reduce overwintering fungus on twigs. If mildew does become
                    established,
                    remove and destroy infected leaves. For complete protection of your plant spray with
                    copper-based or
                    sulfur-based fungicide Spray every 10 days from spring through to the fall.
                    If you’re growing fruit or vegetables, powdery mildew can cripple flowers and sometimes cause
                    unsightly damage to the crop. If you apply a one spray to fruit trees just before bloom, one
                    more
                    just after bloom and another two weeks later, most damage from this disease will be prevented.
                </p>
            </div>
        </div>
    </details>

    <!-- 2nd disease -->
    <details class="details" id="details">
        <summary class="odd">
            Black Spot
        </summary>
        <div class="container1">
            <div class="img">
                <img src="OIP.jfif" alt="NA">
            </div>
            <div class="content">
                <h1>Black Spot</h1>
                <p>
                    This is a common fungal disease of roses. Look for circular, smudged edged black spots with fringed
                    margins. Severely affected leaves yellow and bloom size may be reduced.<br><br>
                <h2> Spot Control</h2><br>
                Plant resistant varieties. During the growing season, remove and dispose of infected leaves and
                avoid splashing leaves when watering. Roses that flower on current season’s growth should be pruned
                back hard before growth starts in the spring to remove infected shoots. In spring and early summer
                apply a spray of sulfur or copper-based fungicide. Apply this treatment at 1 to 2 week intervals
                through the growing season periodically alternating the fungicide used.

                </p>
            </div>
        </div>
    </details>

    <!-- 3nd disease -->
    <details class="details" id="details">
        <summary class="0dd">
            Bacterial Canker
        </summary>
        <div class="container1">
            <div class="img">
                <img src="download (1).jfif" alt="NA">
            </div>
            <div class="content">
                <h1>Bacterial Canker</h1>
                <p>
                    This is a bacterial disease of cool, wet weather areas that attacks cherries, peaches plums,
                    apricots and related trees. It spreads readily from early spring till June when the weather warms up
                    on the West Coast. Most large cherry trees in the Fraser Valley are infected with this disease. It
                    spreads readily in splashing rain from infected trees killing buds, blossoms and twigs often
                    accompanied by gumming when it rains. Infected cherry fruit develop numerous small sunken black
                    spots. Small black spots may appear on leaves, later dropping out to leave a shot hole
                    appearance.<br>
                <h2>Bacterial Canker or Blight Control</h2><br>
                There are no resistant cultivars. Prune out dead twigs and cankers on large branches cutting 40 cm
                below the diseased area. Only prune during dry weather to avoid spreading the disease. Sprays of
                copper-based fungicide should help prevent future infections. Make the first application prior to
                fall rains in September, repeat at leaf drop and again twice more before the buds open in the
                spring.

                </p>
            </div>
        </div>
    </details>

    <!-- 4nd disease -->
    <details class="details" id="details">
        <summary class="0dd">
            Shot Hole
        </summary>
        <div class="container1">
            <div class="img">
                <img src="OIP (1).jfif" alt="NA">
            </div>
            <div class="content">
                <h1>Shot Hole</h1>
                <p>
                    Shot Hole is also called Coryneum Blight in the Interior of BC. This disease of peach, apricot, plum
                    and cherry spreads in warm wet weather infecting buds, blossoms, leaves, fruit and twigs (not large
                    branches). Leaves develop numerous small, tan to purplish spots about 6 mm in diameter that drop out
                    causing a shot hole appearance. Red to purplish spots also form on the fruit and can be accompanied
                    by a clear, gummy substance. Gummy twig and small branch cankers also occur.<br>
                <h2>Shot Hole Control</h2><br>
                plant resistant varieties. Rake up and destroy fallen leaves and prune out and destroy infected
                twigs and branches. To prevent twig and bud infections spray with Copper Spray: Peaches after
                harvest and all other trees in September before fall rains start.


                </p>
            </div>
        </div>
    </details>

    <!-- 5nd disease -->
    <details class="details" id="details">
        <summary class="0dd">
            Black Knot
        </summary>
        <div class="container1">
            <div class="img">
                <img src="Black_knot_2.jpg" alt="NA">
            </div>
            <div class="content">
                <h1>Black Knot</h1>
                <p>
                    This fungal disease of plums causes wart-like growths on twigs and branches. New knots appear
                    mid-summer on small twigs. The knots can grow to a diameter of 15 to 20 cm and may girdle branches.
                    The knots turn black in the fall.
                <h2>Black Knot Control</h2><br>
                Japanese plums are more resistant than European plums. Before February 1 of each year, prune out the
                knots cutting at least 10 cm beyond the knots and dispose of them. Spores from old knots infect new
                shoots in the early part of the of the growing season. Sprays of lime sulfur during the dormant
                season and wettable sulfur at full bloom and petal drop may reduce the number of new infections.

                </p>
            </div>
        </div>
    </details>

    <!-- 6nd disease -->
    <details class="details" id="details">
        <summary class="0dd">
            Rust
        </summary>
        <div class="container1">
            <div class="img">
                <img src="OIP (3).jfif" alt="NA">
            </div>
            <div class="content">
                <h1>Rust</h1>
                <p>
                    Rusts are fungal diseases that only infect specific plants. Most rusts start out as small orange,
                    red or brown spots on the underside of leaves (sometimes stems) changing to brown in the summer.
                    Particularly susceptible plants include: Hollyhock, heuchera, daylilies, pears, Rhododendrons and
                    Juniper.
                    Juniper is an obligatory alternate host for the rust that infects pears. To prevent
                    this disease, plant either pears or Juniper, not both unless they are more than 30 meters apart.
                    The rusts that infects rhododendrons, Hollyhock, daylilies and hechera do not have an alternate
                    host.<br>
                <h2>Rust Control</h2><br>
                Plant resistant cultivars. At first sign of the disease, remove infected leaves and start spraying
                plants every 10 days with a copper or sulfur-based fungicide.

                </p>
            </div>
        </div>
    </details>

    <!-- 7nd disease -->
    <details class="details" id="details">
        <summary class="odd">
            Late Blight
        </summary>
        <div class="container1">
            <div class="img">
                <img src="OIP (4).jfif" alt="NA">
            </div>
            <div class="content">
                <h1>Late Blight </h1>
                <p>
                    Late Blight and Early Blight these are fungal diseases of tomatoes, potatoes and other related
                    plants. Early blight appears as dark brown to black leaf spots with concentric rings. Black spots
                    develop on stems and large, black, leathery, sunken spots on the fruit. Infections often occur in
                    May or June in wet years. Late blight forms irregular greenish black, water soaked blotches first on
                    older leaves or stems quickly spreading to the fruit. This disease usually doesn’t appear until
                    August in wet years, but it can destroy entire plants overnight.<br>
                <h2>Late Blight and Early Blight Control</h2><br>
                Space and prune plans for good air circulation. Avoid overhead watering. If Early blight starts to
                appear, pick off and destroy the infected leaves. If chemical control is required apply a copper
                spray at 7 to 10 day intervals. If late blight starts to appear remove diseased leaves or entire
                plants immediately, seal in a plastic bag and send to the landfill. Do not compost late blight
                infected plants. Apply a copper spray at every 5 to 10 days till allowed days before harvest.


                </p>
            </div>
        </div>
    </details>

    <!-- 8nd disease -->
    <details class="details" id="details">
        <summary class="0dd">
            Apple Scab
        </summary>
        <div class="container1">
            <div class="img">
                <img src="OIP (5).jfif" alt="NA">
            </div>
            <div class="content">
                <h1>Apple Scab</h1>
                <p>
                    Apple Scab is a common fungal disease in the Fraser Valley. Early leaf infections appear as small
                    green spots with feathery margins that turn brown or black. Severely infected leaves turn yellow and
                    drop early. Fruit infections are circular and brown to black in color and become corky in
                    appearance. This disease over winters on the old leaves that have fallen to the ground.<br>
                <h2>Apple Scab Control</h2><br>
                Plant resistant apple cultivars such as Liberty, Florina and Bramley’s seedling (partially
                resistant). Prune mature trees to allow good air circulation. Rake up and destroy fallen leaves to
                reduce the overwintering fungus. If you have susceptible apple varieties several fungicide sprays
                are required: the first at bud break; second, just before bloom; third, one week after bloom; and
                another two weeks later. Use sulfur-based fungicides - lime sulfur or wettable sulfur.


                </p>
            </div>
        </div>
    </details>

    <!-- 9nd disease -->
    <details class="details" id="details">
        <summary class="0dd">
            Botrytis Blight
        </summary>
        <div class="container1">
            <div class="img">
                <img src="download (2).jfif" alt="NA">
            </div>
            <div class="content">
                <h1>Botrytis Blight</h1>
                <p>
                    Botrytis Blight or Grey Mold is a grey fuzzy mold develops on dead and dying plant tissue spreading
                    to healthy tissue when conditions are wet. Infections first appears as water soaked spots or areas
                    on soft or senescent foliage, flower parts and young stems. On flowering plants, woody ornamentals
                    and small fruit this disease can cause flower, leaf and shoot blights as well as stem and fruit
                    rots. Very susceptible plants include: peonies, roses, hostas, strawberries and raspberries.<br>
                <h2>Botrytis Blight or Grey Mold Control</h2><br>
                Plant resistant cultivars. Thoroughly clean and discard garden debris and refuse in the fall to
                reduce the level of grey mold in your garden. Susceptible plants (that are sun loving) should be
                grown in sunny areas with good air circulation. If practical water at the base of plants not over
                the foliage. If botrytis appears, remove infected leaves and fruit. It is rarely worth applying
                fungicides to control this disease.

                </p>
            </div>
        </div>
    </details>

    <!-- 10nd disease -->
    <details class="details" id="details">
        <summary class="0dd">
            Peach Leaf Curl
        </summary>
        <div class="container1">
            <div class="img">
                <img src="download (3).jfif" alt="NA">
            </div>
            <div class="content">
                <h1>Peach Leaf Curl</h1>
                <p>
                    Peach Leaf Curl is a fungal disease that is very common on peaches nectarines in high rainfall areas
                    such as the West Coast. In late winter or very early spring, peach leaf curl infects the leaves
                    before the trees start to grow. Infected buds produce leaves with a reddish, thick and curled
                    growth.
                </p>
            </div>
        </div>
    </details>

    <!-- 11nd disease -->
    <details class="details" id="details">
        <summary class="odd">
            Downy Mildew
        </summary>
        <div class="container1">
            <div class="img">
                <img src="OIP (6).jfif" alt="NA">
            </div>
            <div class="content">
                <h1>Downy Mildew</h1>
                <p>
                <h2>Problem:</h2> Downy mildew is caused by fungus-like organisms and affects many ornamentals and
                edibles,
                such as impatiens, pansies, columbine, grapevines, lettuce and cole crops such as broccoli and
                cauliflower. Often occurring during wet weather, downy mildew causes the upper portion of leaves to
                discolor, while the bottoms develop white or gray mold.<br>
                <h2>Solution:</h2> Plant resistant cultivars when available. No fungicides are available, but
                cultural
                practices can help. Remove and destroy infected foliage, or entire plants if downy mildew is
                prevalent. Avoid crowding plants or watering them in the evening, and rotate edibles year to
                year.

                </p>
            </div>
        </div>
    </details>

    <!-- 12nd disease -->
    <details class="details" id="details">
        <summary class="odd">
            Mosaic Virus
        </summary>
        <div class="container1">
            <div class="img">
                <img src="OIP (7).jfif" alt="NA">
            </div>
            <div class="content">
                <h1>Mosaic Virus</h1>
                <p>
                <h2>Problem:</h2> There are a number of mosaic viruses, but gardeners are most likely to encounter
                two:
                tomato mosaic virus and tobacco mosaic virus. The former infects tomatoes, peppers, potatoes,
                apples, pears and cherries; the latter infects tomatoes, peppers, cucumbers, lettuce, beets,
                petunias and, of course, tobacco.
                Mosaic virus causes mottled yellow and green leaves that are sometimes curled and distorted. Some
                plants exhibit yellowing, stunted growth, malformed fruits and reduced yield. Mosaic virus is more
                common in hot weather.<br>
                <h2>Solution:</h2> There are no chemical controls, but resistant varieties exist. The virus can live
                in dry
                soil for some time. Remove and destroy infected plants, roots and all, and avoid planting
                susceptible plants in the same area for two years. Because tobacco is a carrier, smokers should
                wash
                hands thoroughly before handling plants.

                </p>
            </div>
        </div>
    </details>

    <!-- 13nd disease -->
    <details class="details" id="details">
        <summary class="odd">
            Verticillium Wilt
        </summary>
        <div class="container1">
            <div class="img">
                <img src="pic.jpg" alt="NA">
            </div>
            <div class="content">
                <h1>Verticillium Wilt</h1>
                <p>
                <h2>Problem:</h2> Verticillium wilt is a fungal disease that affects hundreds of species of trees,
                shrubs,
                edibles and ornamentals (see list of susceptible plants here). Pathogens, which can live in the soil
                for years, make their way into the plant through the roots, eventually clogging the vascular system
                and causing branches to wilt suddenly and foliage to turn yellow and fall off prematurely. It can
                also lead to stunted growth.<br>
                <h2>Solution:</h2> Fungicides are not effective, but good sanitation practices may help. Remove and
                destroy
                infected annuals, perennials and edibles. Prune diseased branches off trees and shrubs. (When
                you do
                this, you’ll notice a telltale green streak or stain in the wood.) Sterilizing cutting tools
                with a
                10 percent bleach solution between cuts.

                </p>
            </div>
        </div>
    </details>

    <!-- 14nd disease -->
    <details class="details" id="details">
        <summary class="0dd">
            Snow Mold
        </summary>
        <div class="container1">
            <div class="img">
                <img src="OIP (8).jfif" alt="NA">
            </div>
            <div class="content">
                <h1>Snow Mold</h1>
                <p>
                <h2>Problem:</h2> Snow mold is a fungus that flourishes in the cold, moist conditions found beneath
                snow. It attacks turf grass. After snow melts, symptoms become visible: light tan areas of matted
                grass caused by threads of mold.<br>
                <h2>Solution:</h2> Rake the matted grass to break up the mold and allow for new growth. In fall, make
                the
                last cutting of the year shorter to discourage tall grass blades from falling over and
                contributing
                to matting

                </p>
            </div>
        </div>
    </details>

    <!-- 15nd disease -->
    <details class="details" id="details">
        <summary class="odd">
            Sooty Mold
        </summary>
        <div class="container1">
            <div class="img">
                <img src="OIP (9).jfif" alt="NA">
            </div>
            <div class="content">
                <h1>Sooty Mold</h1>
                <p>
                <h2>Problem:</h2> Sooty mold refers to fungi that grow on the sticky deposits, called honeydew, left
                by plant-sucking insects. On leaves it’s not only unsightly; it impedes photosynthesis and stunts
                plant growth. Leaves coated with sooty mold also drop off prematurely.<br>
                <h2>Solution:</h2> To deal with sooty mold, you have to deal with the plant-sucking insects leaving
                the
                honeydew, such as aphids, leafhoppers and mealybugs. Spray them with insecticidal soap or neem
                oil.
                Ants are attracted to the honeydew for food, so they protect the plant-sucking insects from
                predatory insects that would otherwise keep a lid on the pest population. Trap ants or, with
                woody
                plants, paint a sticky compound such as Tanglefoot around stems.

                </p>
            </div>
        </div>
    </details>

    <!-- 16st disease -->
    <details class="details" id="details">
        <summary class="odd">
            Armillaria root rot
        </summary>
        <div class="container1">
            <div class="img">
                <img src="OIP (10).jfif" alt="NA">
            </div>
            <div class="content">
                <h1>Armillaria root rot </h1>
                <h2>Symptoms:</h2>
                <p>If tree is infected after it has reached 5 years of age then typical symptoms include poor
                    terminal
                    growth and small leaves; around midsummer the whole tree suddenly collapses; in orchards trees
                    usually die in a circular pattern; infected trees often have a fan-shaped white fungal mat
                    growing
                    between the bark and wood of the crown.</p>
                <h2>Causes:</h2>
                Fungus
                <h2>Comments:</h2>
                <p>Fungus survives in dead roots; symptoms similar to Phytophthora root rot.</p>
                <h2>Management</h2>
                <p>
                    Once a tree is infected there is no treatment and it should be removed, fumigants do
                    not control
                    fungi in soil adequately; do not plant apricot in newly cleared forest or on the
                    site of old
                    orchards with a history of Armillaria.

                </p>
            </div>
        </div>
    </details>

    <!-- 17nd disease -->
    <details class="details" id="details">
        <summary class="odd">
            Brown rot blossom
        </summary>
        <div class="container1">
            <div class="img">
                <img src="OIP (11).jfif" alt="NA">
            </div>
            <div class="content">
                <h1>Brown rot blossom</h1>
                <p>
                <h2>Symptoms</h2><br>
                Death of young blossoms and associated twigs and leaves; small tan cankers with dark margins on
                twigs; gummy exudate at base of flowers; brown spore masses on flowers in humid conditions.<br>
                <h2>Cause:</h2><br>
                Fungi<br>
                <h2>Comments</h2><br>
                Fungi survive in mummified fruit and dead twigs.<br>
                <h2>Management:</h2>
                2-3 fungicide applications are required during bloom to control disease; application
                very important
                at red bud stage; applications should be made every 14 days or less if there is
                continued heavy
                rainfall.


                </p>
            </div>
        </div>
    </details>

    <!-- 18nd disease -->
    <details class="details" id="details">
        <summary class="0dd">
            Eutypa dieback
        </summary>
        <div class="container1">
            <div class="img">
                <img src="OIP (12).jfif" alt="NA">
            </div>
            <div class="content">
                <h1>Eutypa dieback</h1>
                <p>
                <h2>Symptoms:</h2><br>
                Cankers on branches, usually associated with a pruning wound which is several years old; discolored
                sapwood may extend abovwe and below canker; leaves on branches around canker may suddenly wilt as
                branch dies; leaves remain attached to branches; discoloured bark and inner wood; gummy amber
                exudate may be present.
                <h2>Cause:</h2><br>
                Fungus<br>
                <h2>Comments:</h2>
                Fungus enters fresh pruning wounds with rainfall 2-6 weeks after pruning; emergence of
                disease most
                common in Fall or Winter.<br>
                <h2>Management</h2> <br>
                Infected limbs should be removed 1 ft below any internal symptoms before harvest; if
                pruning is
                conducted outwith this time a fungicide should be applied to the pruning wounds.

                </p>
            </div>
        </div>
    </details>

    <!-- 19nd disease -->
    <details class="details" id="details">
        <summary class="0dd">
            Red rot
        </summary>
        <div class="container1">
            <div class="img">
                <img src="OIP (13).jfif" alt="NA">
            </div>
            <div class="content">
                <h1>Red rot</h1>
                <p>
                <h2>Symptoms</h2><br>
                Yellowing, drying leaves; elongated red lesions on leaf midribs which may develop a straw yellow
                center; splitting open the stalk lengthwise reveals reddish patches of tissue interrupted by white
                areas; vascular tissue may also be red.</br>
                <h2>Cause:</h2><br>
                Fungus<br>
                <h2>Comments:</h2><br>
                Disease has eliminated several varieties of sugarcane<br>
                <h2>Management:</h2><br>
                Planting resistant varieties of sugar cane is the most effective method of controlling
                the disease;
                remove crop debris from the plantation to reduce inoculum levels; rogue diseased plants;
                harvest
                crop promptly if growing a susceptible variety; treating seed pieces with hot water
                prior to
                planting can reduce the incidence of the disease but foliar fungicide application has
                proved to be
                an ineffective method of control

                </p>
            </div>
        </div>
    </details>

    <!-- 20nd disease -->
    <details class="details" id="details">
        <summary class="odd">
            Sugarcane smut disease
        </summary>
        <div class="container1">
            <div class="img">
                <img src="OIP (14).jfif" alt="NA">
            </div>
            <div class="content">
                <h1>Sugarcane smut disease</h1>
                <p>
                <h2>Symptoms:</h2><br>
                Stunted growth of sugarcane stools; profuse production of tillers; shortened internodes; stems thin
                with narrow, erect leaves; black whip-like structure emerging from terminal bud.<br>
                <h2>Cause:</h2><br>
                Fungus<br>
                <h2>Comments</h2>
                Disease transmitted through infected setts and by wind<br>
                <h2>Management:</h2><br>
                The disease can be successfully controlled by planting varieties of sugarcane which are
                resistant to
                the disease; disease can usually be eliminated from seed pieces by hot water treatment
                prior to
                planting; infected plants should be removed


                </p>
            </div>
        </div>
    </details>

    <!-- 21nd disease -->
    <details class="details" id="details">
        <summary class="odd">
            Leaf scald
        </summary>
        <div class="container1">
            <div class="img">
                <img src="OIP (16).jfif" alt="NA">
            </div>
            <div class="content">
                <h1>Leaf scald</h1>
                <p>
                <h2>Symptoms:</h2><br>
                White "pencil line" extending the entire length of leaf lamina; etiolated leaves; leaf tips drying
                out resulting in a scalded appearance.<br>
                <h2>Cause:</h2><br>
                Bacterium<br>
                <h2>Comments:</h2><br>
                Disease emergence favored by water stressed plants.<br>
                <h2>Management:</h2><br>
                The most effective method of preventing the disease is to plant resistant sugarcane
                varieties;
                treatment of seed cane with hot water to clean the material prior to planting can help
                to prevent
                the disease.

                </p>
            </div>
        </div>
    </details>

    <!-- 22nd disease -->
    <details class="details" id="details">
        <summary class="0dd">
            Mosaic
        </summary>
        <div class="container1">
            <div class="img">
                <img src="OIP (17).jfif" alt="NA">
            </div>
            <div class="content">
                <h1>Mosaic</h1>
                <p>
                <h2>Symptoms:</h2><br>
                Distinct patterns on contrasting greens on leaves i.e. dark green patches surrounded by paler green;
                reddening of leaves; leaf necrosis.<br>
                <h2>Cause:</h2>
                Viruses.<br>
                <h2>Comments</h2><br>
                Symptoms may be caused by 4 different viruses.<br>
                <h2>Symptoms:</h2> <br>
                may be caused by 4 different viruses
                Management
                Plant varieties of sugarcane which are tolerant of virus

                </p>
            </div>
        </div>
    </details>

    <!-- 23nd disease -->
    <details class="details" id="details">
        <summary class="0dd">
            Jacket rot
        </summary>
        <div class="container1">
            <div class="img">
                <img src="OIP (18).jfif" alt="NA">
            </div>
            <div class="content">
                <h1>Jacket rot</h1>
                <p>
                <h2>Symptoms:</h2><br>
                Brown discoloration of fruit under jacket occurring while flower parts still attached to fruit.<br>
                <h2>Cause:</h2><br>
                Fungi.<br>
                <h2>Comments:</h2>
                Disease emergence favored by wet conditions during bloom and jacket stage.<br>
                <h2>Management:</h2><br>
                Fungicide treatment applied at full bloom.
                </p>
            </div>
        </div>
    </details>

    <!-- 24nd disease -->
    <details class="details" id="details">
        <summary class="0dd">
            Ripe fruit rot
        </summary>
        <div class="container1">
            <div class="img">
                <img src="OIP (19).jfif" alt="NA">
            </div>
            <div class="content">
                <h1> Ripe fruit rot</h1>
                <p>
                <h2>Symptoms:</h2><br>
                Dark brown circular spots on fruit; tan spore masses may be visible in center of spots; diseases
                fruit may not drop from tree.<br>
                <h2>Cause:</h2>
                Fungi.<br>
                <h2>Comments:</h2><br>
                Fruit rot symptoms will appear within 48 hours of rain.<br>
                <h2>Management:</h2>
                A protective fungicide treatment may be necessary if heavy rains are forecast 2-3 weeks
                prior to
                harvest.

                </p>
            </div>
        </div>
    </details>

    <!-- 25nd disease -->
    <details class="details" id="details">
        <summary class="odd">
            Sooty blotch and flyspeck
        </summary>
        <div class="container1">
            <div class="img">
                <img src="OIP (20).jfif" alt="NA">
            </div>
            <div class="content">
                <h1>Sooty blotch and flyspeck </h1>
                <p>
                <h2>Symptoms:</h2><br>
                Plant appears as if it has been scorched by fire; watery exudate may be present on infected
                areas.<br>
                <h2>Cause:</h2>
                Bacterium.<br>
                <h2>Comments:</h2><br>
                Bacterium overwinters in bark or cankers; spread by pollinating insects and by rain
                splash.<br>
                <h2></h2>Management:</h2><br>
                Plant trees in area with good sunlight and air circulation; prune trees to an open
                center; blemishes
                superficial and can be washed off.
                </p>
            </div>
        </div>
    </details>

    <!-- 26nd disease -->
    <details class="details" id="details">
        <summary class="0dd">
            Fire blightDowny Mildew
        </summary>
        <div class="container1">
            <div class="img">
                <img src="download (4).jfif" alt="NA">
            </div>
            <div class="content">
                <h1>Fire blight</h1>
                <p>
                <h2>Symptoms:</h2><br>
                Plant appears as if it has been scorched by fire; watery exudate may be present on infected
                areas.<br>
                <h2>Cause:</h2>
                Bacterium.<br>
                <h2>Comments:</h2>
                Bacterium overwinters in bark or cankers; spread by pollinating insects and by rain
                splash.<br>
                <h2>Management:</h2><br>
                Cut out diseased wood; treat with Bordeaux mixture or approved fixed copper materials
                for organic
                production; streptomycin or copper application to blossoms may be necessary to prevent
                spread.

                </p>
            </div>
        </div>
    </details>

    <!-- 27nd disease -->
    <details class="details" id="details">
        <summary class="0dd">
            Phytophthora crown and root rotMosaic Virus
        </summary>
        <div class="container1">
            <div class="img">
                <img src="OIP (21).jfif" alt="NA">
            </div>
            <div class="content">
                <h1>Phytophthora crown and root rot</h1>
                <p>
                <h2>Symptoms:</h2><br>
                Leaves wilting but remain attached to the tree; reduced growth; early senescence; cankers at soil
                level, dark discoloration of bark which is slimy when wet.<br>
                <h2>Cause:</h2>
                Fungus.<br>
                <h2>Comments:</h2><br>
                Infection encouraged by poorly draining soil.<br>
                <h2>Management:</h2><br>
                Practice good water management to prevent emergence of disease; do not over-water trees
                or allow
                water to accumulate in soil; there is no treatment for Phytophthora infection once
                present; no apple
                varieties are resistant to all strains of the pathogen.

                </p>
            </div>
        </div>
    </details>

    <!-- 28nd disease -->
    <details class="details" id="details">
        <summary class="odd">
            Flyspeck
        </summary>
        <div class="container1">
            <div class="img">
                <img src="OIP (22).jfif" alt="NA">
            </div>
            <div class="content">
                <h1> Flyspeck
                </h1>
                <p>
                <h2>Symptoms:</h2>
                Dark brown circular spots on fruit; tan spore masses may be visible in center of spots; diseases
                fruit may not drop from tree.<br>
                <h2>Cause:</h2><br>
                Fungi.<br>
                <h2>Comments:</h2><br>
                Fruit rot symptoms will appear within 48 hours of rain.<br>
                <h2>Management:</h2><br>
                A protective fungicide treatment may be necessary if heavy rains are forecast 2-3 weeks
                prior to harvest.</p>
            </div>
        </div>
    </details>

    <!-- 29nd disease -->
    <details class="details" id="details">
        <summary class="0dd">
            Ripe fruit rot
        </summary>
        <div class="container1">
            <div class="img">
                <img src="OIP (23).jfif" alt="NA">
            </div>
            <div class="content">
                <h1>Ripe fruit rot</h1>
                <br>
                <h2>Symptoms:</h2>
                <p>Dark brown circular spots on fruit; tan spore masses may be visible in center of spots; diseases
                    fruit may not drop from tree.</p>
                <br>
                <h2>Cause:</h2>
                <ul>
                    <li>Fungi</li>
                </ul>
                <br>
                <h2>Comments:</h2>
                <p>Fruit rot symptoms will appear within 48 hours of rain.</p>
                <br>
                <h2>Management:</h2>
                <p>A protective fungicide treatment may be necessary if heavy rains are forecast 2-3 weeks
                    prior to harvest.</p>
            </div>
        </div>
    </details>

    <!-- 30nd disease -->
    <details class="details" id="details">
        <summary class="0dd">
            Crown gall
        </summary>
        <div class="container1">
            <div class="img">
                <img src="OIP (24).jfif" alt="NA">
            </div>
            <div class="content">
                <h1>Crown gall </h1>
                <h2>Symptoms:</h2>
                <p>Galls of various sizes on roots and root crown below the soil line; galls may occasionally grow on
                    the trunk; galls are initially light colored bulges which grow larger and darken; galls may be soft
                    and spongy or hard; if galling is severe and girdles the trunk then young trees are weakened due to
                    constricted vascular tissue; trees may be stunted and rarely die.</p>
                <br>
                <h2>Cause:</h2>
                <ul>
                    <li>Bacerium</li>
                </ul>
                <br>
                <h2>Comments:</h2>
                <p>The bacterium enters host plants through wounds and causes plant cells to proliferate and
                    cells to be undifferentiated, leading to the formation of a gall.</p>
                <br>
                <h2>Management:</h2>
                <p>Only plant disease-free nursery stock; plant trees in well-draining soils; avoid
                    wounding the plants
                    as much as possible; fresh wounds can be treated with a biocontrol agent (Agrobacterium
                    tumefaciens K84), if available, to prevent the bacterium colonizing</p>
            </div>
        </div>
    </details>
</body>

</html>