<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProLeafic</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/png" href="static/img/ProLeafic-Logo.png">
    <script src="https://kit.fontawesome.com/1ee43ba5d7.js" crossorigin="anonymous"></script>
</head>

<body class="bg-white">
    <header class="bg-green-200 text-gray-600 body-font border-green-500 border-b-2">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                <img src="static/img/ProLeafic-Logo.png" class="w-16">
                <span class="ml-3 text-2xl">ProLeafic</span>
            </a>
            <nav
                class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400 flex flex-wrap items-center text-base justify-center">
                <a class="mr-5 hover:text-black" href="/Disease">Disease</a>
                <a class="mr-5 hover:text-black" href="/Pests">Pest</a>
                <a class="mr-5 hover:text-black" href="/Crisis-aversion">Crisis Aversion</a>
                <a class="mr-5 hover:text-black" href="/Scanner">Scan</a>
                <a class="mr-5 hover:text-black" href="/Filter">Diagnostic Test</a>
            </nav>
            <a
                class="inline-flex items-center bg-green-300 border-green-500 border-2 py-1 px-3 focus:outline-none hover:bg-green-400 hover:text-black rounded text-base mt-4 md:mt-0 text-bold">Shop
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            </a>
        </div>
    </header>
    <main class="bg-white w-full mt-12">
        <div class="w-full flex">
            <div class="leading-relaxed lead-base w-full md:w-1/4 text-center">
                <a class="text-3xl underline" href="/Disease">Disease</a>
                <p class="p-3 text-justify">
                    Whether you’re a Hobbyist Gardner or a seasoned farmer, it's no secret that plants are high maintenance and susceptible to disease. But we have curated a list of the most common diseases so you can learn how to take care of your crops best.
                </p>
            </div>
            <div class="leading-relaxed lead-base w-full md:w-1/4 text-center">
                <a class="text-3xl underline" href="/Pests">Pest</a>
                <p class="p-3 text-justify">
                    Insects can be unwelcome guests to your plantation and cause disastrous destruction. Needless to say  this is not what’s best for our plants. Let's identify these pesky creatures and send them on their way with our inventory of pests.
                </p>
            </div>
            <div class="leading-relaxed lead-base w-full md:w-1/4 text-center">
                <a class="text-3xl underline" href="/Scanner">Scan</a>
                <p class="p-3 text-justify">
                    Now identifying the disease of your crops is just a snap away. Using our smart AI technology simply take a picture of the affected part of your crop. And we’ll identify the disease for you. Then simply use our disease directory to bring your crops back to life
                </p>
            </div>
            <div class="leading-relaxed lead-base w-full md:w-1/4 text-center">
                <a class="text-3xl underline" href="/Filter">Diagnostic Test</a>
                <p class="p-3 text-justify">
                    Still can’t figure out what happened to your plant? We’ve got you covered. Take our diagnostic test. Answer a few simple questions and we’ll give you suggestions based on our disease directory.
                </p>
            </div>
        </div>
        <div class="text-center mt-10">
            <a class="w-1/2 inline-flex items-center text-center justify-center py-2 bg-yellow-400 border-4 border-black rounded"
                href="/Scanner">
                <i class="fa-solid fa-camera"></i>
                <p class="text-lg mx-2">Scanner</p>
            </a>
            <div class="m-4"></div>
            <a class="w-1/2 inline-flex items-center text-center justify-center py-2 bg-yellow-400 border-4 border-black rounded"
                href="/Filter">
                <i class="fa-solid fa-file-lines"></i>
                <p class="text-lg mx-2">Diagnostic Test</p>
            </a>
        </div>

    </main>
</body>

</html>
