<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProLeafic</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/png" href="static/img/ProLeafic-Logo.png">
    <script src="https://kit.fontawesome.com/1ee43ba5d7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="pstyle.css"></link>
</head>

<body class="bg-white">
    <header class="sticky z-10 top-0 bg-green-200 text-gray-600 body-font border-green-500 border-b-2">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                <img src="static/img/ProLeafic-Logo.png" class="w-16">
                <span class="ml-3 text-2xl">ProLeafic</span>
            </a>
            <nav
                class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400 flex flex-wrap items-center text-base justify-center ">
                <a class="mr-5 hover:text-black" href="/Disease">Disease</a>
                <a class="mr-5 hover:text-black" href="/Pest">Pest</a>
                <a class="mr-5 hover:text-black" href="/Scan">Scan</a>
                <a class="mr-5 hover:text-black" href="/Filter">Diagnostic Test</a>
            </nav>
            <a
                class="inline-flex items-center bg-green-300 border-green-500 border-2 py-1 px-3 focus:outline-none hover:bg-green-400 hover:text-black rounded text-base mt-4 md:mt-0 text-bold">Shop
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            </a>
        </div>
    </header>

    <h1 id="heading">pests</h1>

    <details class="details">
        <summary class="0dd">
            Peach twig borer
        </summary>
        <div class="container1">
            <div class="img">
                <img src="https://2.bp.blogspot.com/-cPDl_dyxTeo/WXX4RR5m6WI/AAAAAAAAC-k/oL_XKFHj7MQy4GYz5wtr2jHxb6lDgPpJgCLcBGAs/s1600/peach%2Btwig%2Bborer.jpg" alt="NA">
            </div>
            <div class="content">
                <h1>Peach twig borer</h1>
                <p>
                    <h2>Symptoms</h2>
                    Death of shoot tips; feeding damage to fruit, usually at stem end; larvae are dark brown and white with a black head; adult insect is a gray-brown moth 
                    <h2>Cause</h2>
                    Insect
                    <h2>Management</h2>
                    Most effective method of treatment is well-timed applications of insecticide around time of bloom; organically acceptable insecticides include Bacillus thuringiensis or Entrust; infestations can also be treated with appropriate organophosphate or pyrethroid insecticides.
                </p>
            </div>
        </div>
    </details>



    <details class="details">
        <summary class="0dd">
            Pineapple disease
        </summary>
        <div class="container1">
            <div class="img">
                <img src="https://pestoscope.com/wp-content/uploads/2020/05/Sugarcane_Pineapple-disease_2.jpg" alt="NA">
            </div>
            <div class="content">
                <h1>Pineapple disease</h1>
                <p>
                   <h2>Symptoms</h2> 
                   Setts not rooting; central soft portion of set has red discoloration which turns brown-black; cavities in infected internodes; In older canes leaves may be yellowing and plant appears withered; cut stem has a strong smell of pineapple
		           <h2>Cause</h2>
                   Fungus
		           <h2>Management</h2>	
                   The most effective method of managing the disease is through the use of resistant sugarcane varieties; if planting varieties that are susceptible to the disease then plant them in dry, well-draining soils
                </p>
            </div>
        </div>
    </details>

    

    <details class="details">
        <summary class="0dd">
            Eye spot
        </summary>
        <div class="container1">
            <div class="img">
                <img src="https://assets.syngenta.ca/images/pest/125/ca2020_eyespot_corn_damage1.jpg" alt="NA">
            </div>
            <div class="content">
                <h1>Eye spot</h1>
                <p>
                   <h2>Symptoms</h2> 
                   Small water-soaked spots on leaves; elongated water-soaked spots in shape of an eye; straw colored lesions with reddish brown center develop from water-soaked lesions.
		           <h2>Cause</h2>
                   Fungus
		           <h2>Management</h2>	
                   Disease can be controlled through the application of appropriate foliar fungicides.
                </p>
            </div>
        </div>
	</details>

    

    <details class="details">
        <summary class="0dd">
            Mealy plum aphid
        </summary>
        <div class="container1">
            <div class="img">
                <img src="https://www.aphotofauna.com/images/bugs_homoptera/aphid_hyalopterus_pruni_03-08-13_3.jpg" alt="NA">
            </div>
            <div class="content">
                <h1>Mealy plum aphid</h1>
                <p>
                   <h2>Symptoms</h2> 
                   High levels of infestation may cause stunted vegetative growth; black soot mold developing on leaves and branches; insect is small and soft-bodied, green in color and covered in white, mealy wax.
		           <h2>Cause</h2>
                   Insect
		           <h2>Management</h2>
                   Organically grown trees can be sprayed with neem oil to control aphid populations; chemical control of the aphid is rarely necessary.	
                </p>
            </div>
        </div>
	</details>

    

    <details class="details">
        <summary class="0dd">
            Fruittree leafroller
        </summary>
        <div class="container1">
            <div class="img">
                <img src="https://cimg0.ibsrv.net/cimg/www.davesgarden.com/700x467_85/964/leafrollers-2-353964.jpg" alt="NA">
            </div>
            <div class="content">
                <h1>Fruittree leafroller</h1>
                <p style="font-size: 20px;">
                   <h2>Symptoms</h2>
                   Leaves of plant rolled and tied together with silk webbing; feeding damage to rolled leaves; defoliation of plant; silk webbing may also be present on fruits and fruits may have substantial scarring from feeding damage; larvae wriggle vigorously when disturbed and may drop from plant on a silken thread. 
		           <h2>Cause</h2>
                   Insect
		           <h2>Management</h2>
                   Monitor plants regularly for signs of infestation; remove weeds from plant bases as they can act as hosts for leafrollers; avoid planting pepper in areas where sugarbeet or alfalfa are grown nearby; Bacillus thuringiensis or Entrust SC may be applied to control insects on organically grown plants; apply sprays carefully to ensure that treatment reaches inside rolled leaves	
                </p>
            </div>
        </div>
	</details>

    

    <details class="details" id="details">
        <summary class="0dd">
            European earwig
        </summary>
        <div class="container1">
            <div class="img">
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/54/F-auricularia_M_-_HngFBK20080915_A023.jpg" alt="NA">
            </div>
            <div class="content">
                <h1>European earwig</h1>
                <p style="font-size: 10px;">
                   <h2>Symptoms</h2> 
                   Mature trees generally tolerate damage well; if damage is caused to shoot tips of young trees then growth may be stunted; shallow, irregularly shaped areas may be present on fruit surface where insect has fed; insects are brown and shiny with a pincer-like structure at the end of the abdomen; can reach 1.3 cm (0.5 in) in length.
		           <h2>Cause</h2>
                   Insect
		           <h2>Management</h2>	
                   Remove all weeds from around tree bases; remove all pruning debris and loose bark around trees; wrapping trunks tightly with plastic wrap before nymphs emerge can stop them climbing up the tree; if using insecticide, apply early in Spring when earwigs begin to be active
                </p>
            </div>
        </div>
	</details>

    

    <details class="details" id="details">
        <summary class="0dd">
            Aphids
        </summary>
        <div class="container1">
            <div class="img">
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Aphididae_%28aka%29.jpg" alt="NA">
            </div>
            <div class="content">
                <h1>Aphids</h1>
                <p>
                   <h2>Symptoms</h2> 
                   Small soft bodied insects on underside of leaves and/or stems of plant; usually green or yellow in color, woolly apple aphids are covered in masses of white, wool-like material; green apple aphids are dark green when they forst hatch and change to yellow-green with darker green spots as they mature; if aphid infestation is heavy it may cause leaves to yellow and/or distorted, necrotic spots on leaves and/or stunted shoots; aphids secrete a sticky, sugary substance called honeydew which encourages the growth of sooty mold on the plants.
		           <h2>Cause</h2>
                   Insects
		           <h2>Management</h2>	
                   If aphid population is limited to just a few leaves or shoots then the infestation can be pruned out to provide control; check transplants for aphids before planting; use tolerant varieties if available; reflective mulches such as silver colored plastic can deter aphids from feeding on plants; sturdy plants can be sprayed with a strong jet of water to knock aphids from leaves; insecticides are generally only required to treat aphids if the infestation is very high - plants generally tolerate low and medium level infestation; insecticidal soaps or oils such as neem or canola oil are usually the best method of control; always check the labels of the products for specific usage guidelines prior to use.
                </p>
            </div>
        </div>
	</details>

    

    <details class="details" id="details">
        <summary class="0dd">
            Apple maggot
        </summary>
        <div class="container1">
            <div class="img">
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/8f/Rhagoletis_pomonella.jpg" alt="NA">
            </div>
            <div class="content">
                <h1>Apple maggot</h1>
                <p>
                   <h2>Symptoms</h2> 
                   Misshapen, pitted and sunken areas on fruit surface; browning and rotting of apple flesh.
		           <h2>Cause</h2>
                   Insect
		           <h2>Management</h2>	
                   Use red spherical sticky traps to trap adults, place one trap for every 100 apple fruits; bag apples by tying or stapling polythene bags around fruit to prevent adults laying eggs - cut corners from bags to ensure air supply to fruit; spray fruit with insecticide prior to eggs being laid.
                </p>
            </div>
        </div>
	</details>

    

    <details class="details">
        <summary class="0dd">
            Codling moth
        </summary>
        <div class="container1">
            <div class="img">
                <img src="https://resources.stuff.co.nz/content/dam/images/1/7/g/y/f/w/image.related.StuffLandscapeSixteenByNine.1420x800.17gydr.png/1444950403973.jpg" alt="NA">
            </div>
            <div class="content">
                <h1>Codling moth</h1>
                <p>
                   <h2>Symptoms</h2>
                   Holes and burrows in fruit; holes may be blocked with crumbly brown frass (insect excrement); wounds may be shallow or may be deep burrows extending to the fruit’s core; adult insect is a dark brown moth; larvae are pink with a brown head and may be up to 1.3 cm (0.5 in) long. 
		           <h2>Cause</h2>
                   Insect
		           <h2>Management</h2>	
                   Proper pruning methods help to open out tree canopy to ensure treatments penetrate interior of the tree and reach larvae; removal of any wild hosts or trees in abandoned orchards helps remove reservoirs of insect; organically acceptable control methods include application of Entrust and kaolin clay; small scale growers and home gardeners can remove infested fruit by hand before larvae leaves fruit to reduce insect population; successful reduction of insect population in large scale orchards is usually achieved by mating disruption by releasing pheromones over successive years.
                </p>
            </div>
        </div>
	</details>

    

    <details class="details">
        <summary class="0dd">
            Leafhoppers
        </summary>
        <div class="container1">
            <div class="img">
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/a0/Two-lined_gum_treehopper03.jpg" alt="NA">
            </div>
            <div class="content">
                <h1>Leafhoppers</h1>
                <p>
                   <h2>Symptoms</h2> 
                   White stippling on foliage; may be a reduction in fruit size; black specks of frass on fruit; sticky exudate on fruit and leaves caused by excretion of honeydew by insect.
		           <h2>Cause</h2>
                   Insect
		           <h2>Management</h2>
                   Control of leafhoppers is becoming problematic as they are developing resistance to organophosphate insecticides; sprays of appropriate insecticides are most effective at controlling the insect before the adults emerge; monitor trees for appearance of nymphs.	
                </p>
            </div>
        </div>
	</details>

    

    <details class="details">
        <summary class="0dd">
            Leafrollers
        </summary>
        <div class="container1">
            <div class="img">
                <img src="https://www.pahls.com/wp-content/uploads/2016/07/leafroller_large.jpg" alt="NA">
            </div>
            <div class="content">
                <h1>Leafrollers</h1>
                <p>
                   <h2>Symptoms</h2>
                   Leaves of plant rolled and tied together with silk webbing; feeding damage to rolled leaves; defoliation of plant; silk webbing may also be present on fruits and fruits may have substantial scarring from feeding damage; larvae wriggle vigorously when disturbed and may drop from plant on a silken thread. 
		   		   <h2>Cause</h2>
                    Insect
		   		   <h2>Management</h2>
                    Monitor plants regularly for signs of infestation; remove weeds from plant bases as they can act as hosts for leafrollers; Bacillus thuringiensis or Entrust SC may be applied to control insects on organically grown plants; apply sprays carefully to ensure that treatment reaches inside rolled leaves.	
                </p>
            </div>
        </div>
	</details>

    

    <details class="details">
        <summary class="0dd">
            Roundheaded apple tree borer
        </summary>
        <div class="container1">
            <div class="img">
                <img src="https://th.bing.com/th/id/OIP.mJWGXrCl1DK4Xjq7lYYPsgHaHa?pid=ImgDet&rs=1" alt="NA">
            </div>
            <div class="content">
                <h1>Roundheaded apple tree borer</h1>
                <p>
                   <h2>Symptoms</h2>
                   The presence of bore holes at the base of tree which are covered by pigtail-shaped frass and/or darkened areas in the bark due to sap flow are the proof of insect infestation. The young may kill by one or two larvae infestation. The older trees show drying and break off near the base. 
		   		   <h2>Cause</h2>
                    Insect
		   		   <h2>Management</h2>
                    Use of trunk wraps to avoid insect attack. Removing and killing of larvae from the tunnel if possible. Application of suitable insecticide.	
                </p>
            </div>
        </div>
	</details>

    

    <details class="details">
        <summary class="0dd">
            Stinkbugs
        </summary>
        <div class="container1">
            <div class="img">
                <img src="https://www.gannett-cdn.com/-mm-/e00779c21c4743897b333bb3d998878f8a2f4e1a/c=0-221-4348-2677&r=x1683&c=3200x1680/local/-/media/2017/09/27/MIGroup/Livingston/636421385047322539-dfp1020stinkbug-1-.jpg" alt="NA">
            </div>
            <div class="content">
                <h1>Stinkbugs</h1>
                <p>
                   <h2>Symptoms</h2> 
                   Dark colored pinpricks on fruit; depressed dimples on fruit surface with white, pithy area underneath; stink bugs often carry pathogens in their mouthparts which can cause secondary infections and decay of fruit; adult insect is shield-shaped and brown or green in color; may have pink, red or yellow markings; eggs are drum shaped and laid in clusters on the leaves; larvae resemble the adults but are smaller; insect frass may be visible on the fruit is small, brown teardropped shaped deposits
		   		   <h2>Cause</h2>
                    Insect
		   		   <h2>Management</h2>
                    Remove weeds around crop which may act as overwintering sites for stink bugs and practice good weed management throughout the year; organically accepted control methods include the use of insecticidal soaps, kaolin clay and preservation of natural enemies	
                </p>
            </div>
        </div>
	</details>

    

    <details class="details">
        <summary class="0dd">
            Spider mites
        </summary>
        <div class="container1">
            <div class="img">
                <img src="https://th.bing.com/th/id/R.69a9d9c34d289b9b8f42afc7534a8774?rik=YQ%2bqpsQRBPkpwQ&riu=http%3a%2f%2f2.bp.blogspot.com%2f-Zxf0r7vsMWE%2fUfEKI3k1GXI%2fAAAAAAAAJgs%2ffT1Xz411lOg%2fs1600%2fspider_mite_silk.jpg&ehk=wDywYgTvpo8mHKFzcNc8sjicwjHzkykewjsIAInqFWI%3d&risl=&pid=ImgRaw&r=0" alt="NA">
            </div>
            <div class="content">
                <h1>Spider mites</h1>
                <p>
                   <h2>Symptoms</h2> 
                   Leaves stippled with yellow;leaves may appear bronzed;webbing covering leaves;mites may be visible as tiny moving dots on the webs or underside of leaves, best viewed using a hand lens;usually not spotted until there are visible symptoms on the plant;leaves turn yellow and may drop from plant
		   		   <h2>Cause</h2>
                    Arachnid
		   		   <h2>Management</h2>
                    In the home garden, spraying plants with a strong jet of water can help reduce buildup of spider mite populations;if mites become problematic apply insecticidal soap to plants;certain chemical insecticides may actually increase mite populations by killing off natural enemies and promoting mite reproduction	
                </p>
            </div>
        </div>
	</details>

    

    <details class="details">
        <summary class="0dd">
            Pigweed weevil
        </summary>
        <div class="container1">
            <div class="img">
                <img src="https://media.istockphoto.com/photos/pigweed-flea-beetle-picture-id976736802?k=6&m=976736802&s=170667a&w=0&h=KA4tP4mDtdVGO3gxaMLSnS-IKrHOt6MS1b8kS_vNC1M=" alt="NA">
            </div>
            <div class="content">
                <h1>Pigweed weevil</h1>
                <p>
                   <h2>Symptoms</h2> 
                   Withering plants; stems bending and collapsing
		   		   <h2>Cause</h2>
                    Insect
		   		   <h2>Management</h2>
                    Uproot and destroy infested plants to limit weevil population	
                </p>
            </div>
        </div>
	</details>

</body>
</html>