<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProLeafic | Scanner</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/png" href="static/img/ProLeafic-Logo.png">
    <script src="https://kit.fontawesome.com/1ee43ba5d7.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="bg-green-200 text-gray-600 body-font border-green-500 border-b-2">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                <img src="static/img/ProLeafic-Logo.png" class="w-16">
                <span class="ml-3 text-2xl">ProLeafic</span>
            </a>
            <nav
                class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400 flex flex-wrap items-center text-base justify-center">
                <a class="mr-5 hover:text-black" href="..">Home</a>
            </nav>
            <a
                class="inline-flex float-right items-center bg-green-300 border-green-500 border-2 py-1 px-3 focus:outline-none hover:bg-green-400 hover:text-black rounded text-base mt-4 md:mt-0 text-bold">Shop
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            </a>
        </div>
    </header>
    <main class="w-full mt-24 items-center text-center justify-center">
        <a class="w-1/2 inline-flex items-center text-center justify-center py-2 bg-yellow-400 border-4 border-black rounded"
            href="/Scanner">
            <i class="fa-solid fa-seedling"></i>
            <p class="text-lg mx-2" href="/Plant-Disease">Plant Disease Identification</p>
        </a>
        <div class="m-4"></div>
        <a class="w-1/2 inline-flex items-center text-center justify-center py-2 bg-yellow-400 border-4 border-black rounded"
            href="/Filter">
            <i class="fa-solid fa-bug"></i>
            <p class="text-lg mx-2" href="/Insect">Insect Identification</p>
        </a>
    </main>
</body>

</html>