*{
    scroll-behavior: smooth;
}

body {
    margin-bottom: 20vh;
}

#heading{
    font-size: 40px;
    font-weight:bold;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 30px;
    text-transform: uppercase;
}

summary{
    font-size: 20px;
    font-weight: bold ;
    padding: 10px;
    text-align: center;
}

.container1{
    display: flex;
    align-items: center;
    justify-items: center;
    padding-inline: auto;
}

.img img{
    width: auto;
    height: 600px;
    border-bottom-left-radius: 20px;
}

.container1:hover .img img{
    opacity: 0.9;
}

.content{
    position: relative;
    display: block;
    border-bottom-right-radius: 20px;
    width: 100%;
    height: 600px;
    padding: 15px 60px;
    background-image:linear-gradient(to bottom,rgb(247, 240, 240),rgba(213, 216, 19, 0.4));
    text-align: justify;
}

.content h1{
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(0, 200, 0, 0.7);
}

.content h2 {
    font-size: 24px;
    font-weight: bold;
}

.content p{
    padding-top: 10px;
    font-size:18px;
}

.details{
    border: 1px solid black;
    border-radius: 20px;
    margin-inline: 5%;
}

#heading{
    color:rgba(0, 200, 0,0.7);
}

details{
    margin-top: 20px;
}
